POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=krypto

JWT_SECRET=your_base64_jwt_secret
INTERNAL_SECRET=your_internal_service_secret

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASSWORD=your_rabbitmq_password

FRONTEND_ORIGIN=http://localhost:4200
