server:
  port: ${GATEWAY_PORT:8080}


spring:
  application:
    name: gateway-server
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
          - name: CircuitBreaker
            args:
              name: defaultCircuitBreaker
              fallbackUri: forward:/fallback/service
          - name: RequestRateLimiter
            args:
              redis-rate-limiter.replenishRate: 10
              redis-rate-limiter.burstCapacity: 20
              redis-rate-limiter.requestedTokens: 1
              key-resolver: "#{@ipKeyResolver}"
          discovery:
            locator:
              enabled: false
              lower-case-service-id: true
          routes:
            - id: test-service
              uri: lb://TEST-SERVICE
              predicates:
                - Path=/api/v1/test/**
#              filters:
#                - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
      cors:
        allow-credentials: true
        allowed-methods: [GET, POST, PUT, DELETE, OPTIONS]
        allowed-origins: "http://localhost:4200"
        allowed-headers: "*"
  endpoint:
    gateway:
      enabled: true
