server:
  port: ${GATEWAY_PORT:8080}

spring:
  application:
    name: gateway-server
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      globalcors:
        cors-configurations:
                  '[/**]':
                    allowedOrigins: "http://localhost:4200"
                    allowedMethods:
                      - GET
                      - POST
                      - PUT
                      - DELETE
                      - OPTIONS
                    allowedHeaders: "*"
                    allowCredentials: true
      server:
        webflux:
          default-filters:
          - name: CircuitBreaker
            args:
              name: defaultCircuitBreaker
              fallbackUri: forward:/fallback/service
          - name: RequestRateLimiter
            args:
              redis-rate-limiter.replenishRate: 10
              redis-rate-limiter.burstCapacity: 20
              redis-rate-limiter.requestedTokens: 1
              key-resolver: "#{@ipKeyResolver}"




eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
