server:
  port: ${EUREKA_PORT:8761}

spring:
  application:
    name: discovery-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: ${EUREKA_SELF_PRESERVATION:false}

management:
  endpoints:
    web:
      exposure:
        include: health,info