server:
  port: 8085

spring:
  application:
    name: test-service
  datasource:
    url: jdbc:postgresql://postgres:5432/krypto_db
    username: ${POSTGRES_USER:krypto}
    password: ${POSTGRES_PASSWORD:secret}
  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/